body {
    font-family: Arial, sans-serif;
    background-color: #f8f0f5;
}

.quiz-box {
    width: 400px;
    background: #fff0f6;
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h2 {
    text-align: center;
    color: #d63384;
}

.subtitle {
    text-align: center;
    font-size: 14px;
}

#timer {
    text-align: center;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}

img {
    width: 100%;
    border-radius: 8px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #d63384;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b52b6f;
}